
.redes-s a img{
    width: 25px;
    margin-right: 40px;
    margin-top: 30px;
}

.image img {
    margin-top: 40px;
}

.image img {
    border-radius: 100px;
    /* border-color: dodgerblue; */
    border: 2px solid dodgerblue;
}

body {
    text-align: center;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links button {
    width: 60%;
    height: 45px;
    margin-bottom: 20px;
    border-color: blue;
    background-color: dodgerblue;
}

.links button:hover {
    border-color: dodgerblue;
    background-color: blue;
}

.links button a:focus {
    color: #000;
}

.links button a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

.people {
    align-items: center;
    text-align: center;
}

.people p {
    text-align: center;
    font-size: 23px;
    border-radius: 40px;
    box-shadow: 10px 5px 5px rgb(108, 108, 108);
}